  *{
    margin : 0px;
    padding : 0px;
  }
  body {
    background-color:#111111;
    color: #ffffff;
    font-size: 120%;
    font-family: Georgia, serif;
    line-height: 1.5;
   
  }

  header {
    background-color:  #004d1a;
    padding: 0.5em 1em;
    font-family: Lato, sans-serif;
    position: relative;
  }
  header a {
    color: #ff00bf;
    text-decoration: none;
  }
  .logo {
    font-size: 1.0em;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: lighter;
    color:#ffffff;
  }
  .logo:hover,
  .logo:active {
    color:#ff00bf;
  }
  nav {
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    margin: -1em -1em 1em -1em;
    
  }
  nav .main-nav {
    height: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
 
  nav .main-nav li {
    visibility: visible;
  }
  nav .main-nav.active {
    height: auto;
  }
  nav .main-nav a {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    padding: 0.5em 1em;
  }
  .main-nav li:nth-of-type(1) a {
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 1em;
  }
  .main-nav li:nth-of-type(2) a {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .main-nav li:nth-of-type(3) a {
    background-color: rgba(0, 0, 0, 0.1);
  }
  nav .main-nav a:hover,
  nav .main-nav a:active {
    color: #ff00bf;
   
  }
  
  #msgEmp{
  	
  	color:red;
  
  }
   #msgSal{
  	
  	color:red;
  
  }
   #msgDate{
  
  	color:red;
  
  }
  
    #msgEmpId{
  
  	color:red;
  
  }

  .menu-button {

    display: inline-block;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1em 1em 0.5em 1em;
  }
  .menu-button .text {
    display: none;
  }
  .menu-button a,
  .menu-button a:hover,
  .menu-button a:active {
    color: #33331a;
    font-weight: lighter;
  }
  @media all and (min-width: 18em) {
    .menu-button .text {
      display: inline;
    }
  }
  @media all and (min-width: 48em) {
    .menu-button {
      display: none;
    }
    nav .main-nav {
      height: auto !important;
      float: right;
      margin-right: 1em;
      
    }
    .main-nav li {
      display: inline-block;
      
    }
    .main-nav a {
      background: transparent !important;
    }
  }
  
    .main-nav li a {
      text-align: center;
    }

    .firstC {
      margin-left: 300px;

    }

  .container {
  color:#111111;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  max-height: 1000px;
  float: right;
          
}

.ritghtCon{
	width: 80%;
	display:inline;
	 padding: 20px;
	 color:#111111;
	 max-hight:700px;
  border-radius: 5px;
}
.largeCon{
	display:flex;
	
}
.vertical-menu {
  width: 20%;
  flaot:left;
  padding-top:20px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}

.scrollDev{
	height: 500px;
     overflow-y: scroll;
	
}

table ,tr td{
    border:1px solid red
}
tbody {
    display:block;
    height:300px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}
thead {
    width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
}
table {
    width:400px;
}

.btnFlex{
	
	 display: flex;
     justify-content: center; 
	
}



.dropbtn {
  background-color: #004d1a;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
   
}

.itembtn {
  background-color: #8080ff;
  color: white;
  pading:none;
  font-size: 16px;
  border: none;
  width:100px; 
  hight:50px;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: left;
   
}

.dropdown-content {
	
  display: list-item;
  position: relative;
  background-color: #f1f1f1;
  min-width: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
   
  
}

#date{}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}